body {
    background-color: #ffe5ff; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff80bf; 
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #ff99cc; 
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.content {
    margin: 20px;
    background-color: #fff; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
}

footer {
    background-color: #ff80bf; 
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
